version: 2.1

orbs:
  node: circleci/node@7.0.0

anchors:
  job_filter_releases: &job_filter_releases
    tags:
      only: /^v(0|[1-9]\d*)\.(0|[1-9]\d*)\.(0|[1-9]\d*)(?:-((?:0|[1-9]\d*|\d*[a-zA-Z-][0-9a-zA-Z-]*)(?:\.(?:0|[1-9]\d*|\d*[a-zA-Z-][0-9a-zA-Z-]*))*))?(?:\+([0-9a-zA-Z-]+(?:\.[0-9a-zA-Z-]+)*))?$/

parameters:
  build_image_tag_ubuntu:
    type: string
    default: slack-desktop-docker.jfrog.io/desktop-base-ubuntu-focal:6d241c4e-2092

executors:
  ubuntu:
    docker:
      - image: << pipeline.parameters.build_image_tag_ubuntu >>
        auth:
          username: desktop-docker
          password: $JFROG_DOCKER_PASSWD
  macos:
    macos:
      xcode: 14.0.1

commands:
  checkout_sleuth:
    steps:
      - checkout
      - run:
          name: Initialize Submodules
          command: git submodule update --init --recursive
  install_deps:
    steps:
      - restore_cache:
          name: Restore Cached Dependencies
          keys:
            - v2-dependencies-{{ arch }}-{{ checksum "yarn.lock" }}
      - run:
          name: Prepare Yarn
          command: corepack enable
      - run:
          name: Install Dependencies
          command: yarn install --immutable
      - save_cache:
          name: Cache Installed Dependencies
          paths:
            - node_modules
          key: v2-dependencies-{{ arch }}-{{ checksum "yarn.lock" }}
  load_cloudhsm:
    steps:
      - run:
          # This is a necessary hack to persist environment variables across multiple CircleCI steps
          name: Load CloudHSM environment variables
          command: |
            New-Item $Profile.CurrentUserAllHosts -Force
            Add-Content -Path $Profile.CurrentUserAllHosts -Value '$env:CERT_THUMBPRINT = Get-Childitem -path cert:\LocalMachine\my | select-object -expandproperty thumbprint'
            Add-Content -Path $Profile.CurrentUserAllHosts -Value '$env:n3fips_password = [System.Environment]::GetEnvironmentVariable("n3fips_password","Machine")'

  build_sleuth:
    parameters:
      make_flags:
        type: string
        default: ''
    steps:
      - checkout_sleuth
      - install_deps
      - run:
          name: Build Packages with flags; << parameters.make_flags >>
          command: |
            yarn run publish --dry-run << parameters.make_flags >>
          no_output_timeout: 30m
      - store_artifacts:
          path: out/make
          destination: make
      - persist_to_workspace:
          root: out
          paths:
            - make
            - publish-dry-run

jobs:
  lint-and-test:
    executor: ubuntu
    steps:
      - checkout_sleuth
      - install_deps
      - run:
          name: Lint
          command: yarn lint
      - run:
          name: Run tests
          command: yarn test
  build-macos:
    parameters:
      arch:
        type: enum
        enum: ['x64', 'arm64', 'universal']
    executor: macos
    steps:
      - node/install:
          node-version: '22.18.0'
      - build_sleuth:
          make_flags: --arch << parameters.arch >>
  build-windows:
    machine: true
    resource_class: tinyspeck/aws-windows-runner
    shell: powershell.exe -ExecutionPolicy Bypass
    steps:
      - load_cloudhsm
      - build_sleuth
  build-ubuntu:
    executor: ubuntu
    steps:
      - build_sleuth:
          make_flags: --targets @electron-forge/maker-deb
  code-sign-macos:
    machine: true
    resource_class: << parameters.code_signer >>
    working_directory: /tmp/circleci-workspace/mac-code-sign
    parameters:
      arch:
        type: enum
        enum: ['x64', 'arm64', 'universal']
      prod_name:
        type: string
        default: 'Sleuth'
      artifact_dir:
        type: string
        default: '/tmp/circleci-workspace/artifacts'
      darwin_platform:
        type: enum
        enum: ['macos', 'mas']
        default: macos
      code_signer:
        type: string
        default: 'tinyspeck/aws-ansible-code-signer-prod'
    steps:
      - run:
          command: |
            # clean up the workspace
            rm -rf << parameters.artifact_dir >>
      - attach_workspace:
          at: << parameters.artifact_dir >>
      - run:
          name: Load OIDC Secrets
          command: |
            curl -X POST "$SLACK_SECRETS_SERVICE_ENDPOINT?format=shell" -H "TSAuth-Token: $SLACK_SECRETS_SERVICE_AUTHZ_TOKEN" -H "Content-Type: application/json" -d '{"token":"'$CIRCLE_OIDC_TOKEN'"}' --fail >> $BASH_ENV
      - run:
          name: Code Sign Sleuth
          command: |
            mv << parameters.artifact_dir >>/make/zip/darwin/<< parameters.arch >>/*.zip << parameters.artifact_dir >>
            export JOB_PARAMS=$(
                jq -n \
                    --arg j MAC_CODE_SIGN \
                    --arg ad << parameters.artifact_dir >> \
                    --arg mas << parameters.darwin_platform >> \
                    --arg pn << parameters.prod_name >> \
                    --arg ct "" \
                    --arg cs "$CIRCLE_SHA1" \
                    --arg rc << parameters.code_signer >> \
                    '{JOB_NAME: $j, ARTIFACTS_DIR: $ad, DARWIN_PLATFORM: $mas, PROD_NAME: $pn, CIRCLE_TAG: $ct, CIRCLE_SHA1: $cs, RESOURCE_CLASS: $rc}'
            )
            if [ -n "${CIRCLE_TAG}" ]; then export GIT_REF=$CIRCLE_TAG; else export GIT_REF=$CIRCLE_BRANCH; fi
            sudo /Library/circleci/runner-entrypoint.sh master "$JOB_PARAMS"
            mv << parameters.artifact_dir >>/*.zip << parameters.artifact_dir >>/make/zip/darwin/<< parameters.arch >>
          no_output_timeout: 45m
      - store_artifacts:
          path: << parameters.artifact_dir >>
      - persist_to_workspace:
          root: << parameters.artifact_dir >>
          paths:
            - '*'
  publish:
    executor: ubuntu
    steps:
      - checkout_sleuth
      - run: |
          curl -X POST "$SLACK_SECRETS_SERVICE_ENDPOINT?format=shell" -H "TSAuth-Token: $SLACK_SECRETS_SERVICE_AUTHZ_TOKEN" -H "Content-Type: application/json" -d '{"token":"'$CIRCLE_OIDC_TOKEN'"}' >> $BASH_ENV
      - install_deps
      - run: mkdir -p out
      - attach_workspace:
          at: out
      - run:
          name: Publish
          command: |
            node tools/fix-publish-paths.js
            yarn run publish --from-dry-run

workflows:
  ci:
    jobs:
      - lint-and-test
      - build-macos:
          name: build-macos-x64
          arch: x64
          filters:
            <<: *job_filter_releases
      - build-macos:
          name: build-macos-arm64
          arch: arm64
          filters:
            <<: *job_filter_releases
      - build-macos:
          name: build-macos-universal
          arch: universal
          filters:
            <<: *job_filter_releases
      - build-windows:
          filters:
            <<: *job_filter_releases
      - build-ubuntu:
          filters:
            <<: *job_filter_releases
      - code-sign-macos:
          name: code-sign-macos-x64
          requires:
            - build-macos-x64
          arch: x64
          filters:
            branches:
              only: main
            <<: *job_filter_releases
          context:
            - sleuth-code-signing
      - code-sign-macos:
          name: code-sign-macos-arm64
          requires:
            - build-macos-arm64
          arch: arm64
          filters:
            branches:
              only: main
            <<: *job_filter_releases
          context:
            - sleuth-code-signing
      - code-sign-macos:
          name: code-sign-macos-universal
          requires:
            - build-macos-universal
          arch: universal
          filters:
            branches:
              only: main
            <<: *job_filter_releases
          context:
            - sleuth-code-signing
      - publish:
          requires:
            - build-windows
            - build-ubuntu
            - code-sign-macos-x64
            - code-sign-macos-arm64
            - code-sign-macos-universal
          filters:
            branches:
              ignore: /.*/
            <<: *job_filter_releases
          context:
            - sleuth-release
