version: 2.1

anchors:
  job_filter_releases: &job_filter_releases
    tags:
      only: /^v[0-9]+\.[0-9]+\.[0-9]+(-\w+)*$/

parameters:
  build_image_tag_ubuntu:
    type: string
    default: slack-desktop-docker.jfrog.io/desktop-base-ubuntu-bionic:99d1b3fe-344

executors:
  ubuntu:
    docker:
      - image: << pipeline.parameters.build_image_tag_ubuntu >>
        auth:
          username: desktop-docker
          password: $JFROG_DOCKER_PASSWD
  macos:
    macos:
      xcode: 12.5.1

commands:
  checkout_sleuth:
    steps:
      - checkout
      - run:
          name: Initialize Submodules
          command: git submodule update --init --recursive
  install_deps:
    steps:
      - restore_cache:
          name: Restore Cached Dependencies
          keys:
            - v1-dependencies-{{ arch }}-{{ checksum "yarn.lock" }}
      - run:
          name: Install Dependencies
          command: npx yarn@1.21.1 install --frozen-lockfile
      - save_cache:
          name: Cache Installed Dependencies
          paths:
            - node_modules
          key: v1-dependencies-{{ arch }}-{{ checksum "yarn.lock" }}
  build_sleuth:
    parameters:
      make_flags:
        type: string
        default: ""
    steps:
      - checkout_sleuth
      - install_deps
      - run:
          name: Build Packages with flags; << parameters.make_flags >>
          command: |
            $env:CERT_THUMBPRINT = Get-Childitem -path cert:\LocalMachine\my | select-object -expandproperty thumbprint
            $env:n3fips_password = [System.Environment]::GetEnvironmentVariable("n3fips_password","Machine")
            $env:test_var = "testing"
            npx yarn@1.21.1 run publish --dry-run << parameters.make_flags >>
      - store_artifacts:
          path: out/make
          destination: make
      - persist_to_workspace:
          root: out
          paths:
            - make
            - publish-dry-run

jobs:
  lint-and-test:
    executor: ubuntu
    steps:
      - checkout_sleuth
      - install_deps
      - run:
          name: Lint
          command: npx yarn@1.21.1 lint
      - run:
          name: Run tests
          command: npx yarn@1.21.1 test
  build-macos:
    parameters:
      arch:
        type: enum
        enum: ["x64", "arm64"]
    executor: macos
    steps:
      - build_sleuth:
          make_flags: --arch << parameters.arch >>
  build-windows:
    machine: true
    resource_class: tinyspeck/aws-windows-runner
    shell: powershell.exe -ExecutionPolicy Bypass
    steps:
      - build_sleuth
  build-ubuntu:
    executor: ubuntu
    steps:
      - build_sleuth:
          make_flags: --targets @electron-forge/maker-deb
  code-sign-macos:
    machine: true
    resource_class: tinyspeck/aws-ansible-code-signer-prod
    working_directory: /tmp/circleci-workspace/mac-code-sign
    parameters:
      arch:
        type: enum
        enum: ["x64", "arm64"]
      prod_name:
        type: string
        default: "Sleuth"
      artifact_dir:
        type: string
        default: "/tmp/circleci-workspace/artifacts"
      darwin_platform:
        type: enum
        enum: ["macos", "mas"]
        default: macos
    steps:
      - run:
          command: |
            # clean up the workspace
            rm -rf << parameters.artifact_dir >>
      - attach_workspace:
          at: << parameters.artifact_dir >>
      - run:
          command: |
            mv << parameters.artifact_dir >>/make/zip/darwin/<< parameters.arch >>/*.zip << parameters.artifact_dir >>
            export JOB_PARAMS=$(
                jq -n \
                    --arg j MAC_CODE_SIGN \
                    --arg ad << parameters.artifact_dir >> \
                    --arg mas << parameters.darwin_platform >> \
                    --arg pn << parameters.prod_name >> \
                    --arg ct "" \
                    --arg cs "$CIRCLE_SHA1" \
                    '{JOB_NAME: $j, ARTIFACTS_DIR: $ad, DARWIN_PLATFORM: $mas, PROD_NAME: $pn, CIRCLE_TAG: $ct, CIRCLE_SHA1: $cs}'
            )
            if [ -n "${CIRCLE_TAG}" ]; then export GIT_REF=$CIRCLE_TAG; else export GIT_REF=$CIRCLE_BRANCH; fi
            sudo /Library/circleci/runner-entrypoint.sh master "$JOB_PARAMS"
            mv << parameters.artifact_dir >>/*.zip << parameters.artifact_dir >>/make/zip/darwin/<< parameters.arch >>
          no_output_timeout: 45m
      - store_artifacts:
          path: << parameters.artifact_dir >>
      - persist_to_workspace:
          root: << parameters.artifact_dir >>
          paths:
            - "*"
  publish:
    executor: ubuntu
    steps:
      - checkout_sleuth
      - install_deps
      - run: mkdir -p out
      - attach_workspace:
          at: out
      - run:
          name: Publish
          command: |
            node tools/fix-publish-paths.js
            npx yarn@1.21.1 run publish --from-dry-run

workflows:
  ci:
    jobs:
      - lint-and-test
      # - build-macos:
      #     name: build-macos-x64
      #     arch: x64
      #     filters:
      #       <<: *job_filter_releases
      # - build-macos:
      #     name: build-macos-arm64
      #     arch: arm64
      #     filters:
      #       <<: *job_filter_releases
      - build-windows:
          context:
            - slack-code-signing
          filters:
            <<: *job_filter_releases
      # - build-ubuntu:
      #     filters:
      #       <<: *job_filter_releases
      # - code-sign-macos:
      #     name: code-sign-macos-x64
      #     requires:
      #       - build-macos-x64
      #     arch: x64
      #     filters:
      #       branches:
      #         only: main
      #       <<: *job_filter_releases
      # - code-sign-macos:
      #     name: code-sign-macos-arm64
      #     requires:
      #       - build-macos-arm64
      #     arch: arm64
      #     filters:
      #       branches:
      #         only: main
      #       <<: *job_filter_releases
      # - publish:
      #     requires:
      #       - build-windows
      #       - build-ubuntu
      #       - code-sign-macos-x64
      #       - code-sign-macos-arm64
      #     filters:
      #       branches:
      #         ignore: /.*/
      #       <<: *job_filter_releases
      #     context:
      #       - slack-gh-release
