.AppHeader {
  position: relative;
  display: flex;
  z-index: 10;
  box-shadow: 0 4px 2px -2px rgba(16, 22, 26, 0.1);
  width: 100%;
  height: 50px;
  overflow: hidden;

  .FilterGroup {
    margin-left: auto;
    padding-left: 5px;
  }

  .SearchGroup {
    flex-grow: 1;
  }

  .SearchInputGroup {
    flex-grow: 1;
  }
}

.SidebarOpen {
  .Darwin {
    .AppHeader {
      padding-left: 10px;
    }
  }
}

.Darwin {
  .AppHeader {
    padding-left: 80px;
  }
}
