.Devtools {
  display: flex;
  flex-direction: column;
  height: calc(~"100% - 50px");
}

.Devtools iframe {
  height: 100%;
}

.ProcessTable {
  width: 100%;
  padding: 2.2rem;
}

.ProcessTable table {
  width: 100%;
  table-layout: fixed;
}

.ProcessTable h1 {
  margin-bottom: 0;
  font-weight: normal;
}

.ProcessTable h4 {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: normal;
}

.ProcessTable h5 {
  font-style: italic;
  font-weight: normal;
  margin-top: 0;
}