.Devtools {
  display: flex;
  flex-direction: column;
  height: calc(~"100% - 50px");
}

.Devtools iframe {
  height: 100%;
}

.ProcessTable {
  width: 100%;
  padding: 2.2rem;
}

.ProcessTable table {
  width: 100%;
  table-layout: fixed;
}