.AppCore {
  width: 100vw;
  height: 100vh;
  display: flex;

  #content {
    height: 100vh;
    flex-grow: 1;
    min-width: 0;
  }

  .alert {
    margin: 5px 30px 20px 30px;
  }
}

.Darwin .AppCore #content {
  height: calc(100vh - var(--sleuth-darwin-titlebar-height));
}
