.SidebarWrapper {
  max-height: calc(100vh - var(--ant-control-height));
  overflow: hidden;

  .Darwin & {
    max-height: calc(
      100vh - var(--ant-control-height) - var(--sleuth-darwin-titlebar-height)
    );
  }
}

.SidebarRail {
  gap: var(--sleuth-sidebar-gap);
  padding: var(--sleuth-sidebar-gap);
  width: calc(var(--ant-control-height) + 2 * var(--sleuth-sidebar-gap));
  background: var(--ant-color-bg-layout);
  position: relative;
  z-index: 1;
}

.SidebarTreeToggle {
  --overlap-height: 4px;
  width: 100%;
  border-radius: 0;
  border-top-right-radius: var(--ant-border-radius);
  height: calc(var(--ant-control-height) + var(--overlap-height));
  margin-top: calc(-1 * var(--overlap-height));
  background: var(--ant-color-bg-layout);
  position: relative;
  z-index: 2;
}

.SidebarFileTree {
  overflow-x: hidden;
  white-space: nowrap;
  width: 0;
  opacity: 0;
  transition: 0.2s ease-in all;
  height: 100%;
  background: var(--ant-color-bg-layout);
  border-top-right-radius: 0;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border: 1px solid #00000000;
  padding: var(--ant-border-radius) 0;

  &.Open {
    overflow-y: auto;
    width: var(--sleuth-sidebar-open-width);
    border: 1px solid var(--ant-color-border);
    padding: var(--ant-border-radius);
    opacity: 1;
  }

  .ant-tabs {
    padding: 0 var(--ant-padding-xs);
  }

  .ant-tabs-nav {
    height: 45px;
  }

  .ant-tree {
    background: transparent;
  }
}
