.Welcome {
  text-align: center;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: calc(~'100vh - 36px');
  width: 100vw;

  .Title {
    animation: focus-in-contract-bck 3s cubic-bezier(0.25, 0.46, 0.45, 0.94) 1s
      both;
  }

  .Emoji {
    margin-right: 10px;
  }

  h1 {
    font-size: 4rem;
  }

  .loading-indicator {
    transform: scale(2);
    margin-top: 72px;
  }

  ::-webkit-scrollbar-thumb {
    border-radius: 5px;
  }

  ::-webkit-scrollbar-track {
    border-radius: 5px;
  }
}

@keyframes focus-in-contract-bck {
  0% {
    letter-spacing: 1em;
    transform: translateZ(300px);
    opacity: 0;
  }
  100% {
    transform: translateZ(12px);
    opacity: 1;
  }
}
