#tab-list,
#events-view-filter-box,
#events-view-splitter-box {
  top: 0 !important;
}

#events-view-source-list-table td {
  border-left: 1px solid rgba(16, 22, 26, 0.05) !important;
  border-bottom: 1px solid rgba(16, 22, 26, 0.05) !important;
}

.dark-mode #timeline-view-graph-canvas,
.dark-mode #timeline-view-selection-ul,
.dark-mode #events-view-source-list-table,
.dark-mode #events-view-filter-box,
.dark-mode #timeline-view-graph-div {
  filter: invert(0.9);
}

.dark-mode #events-view-source-list-table {
  color: #000;
}

.dark-mode .vertical-splitter {
  border-left: 1px solid #4a4a4a;
}

.dark-mode #tab-list {
  border-right: 1px solid #4a4a4a;
}

.dark-mode #tab-list a,
#tab-list a:visited {
  color: #f5f8fa;
}

.dark-mode #tab-list #tab-list a.selected {
  color: #fff;
}

.dark-mode .styled-table th {
  background-color: #202b33;
}

.dark-mode .modules-view-extension-list tr.enabled {
  background-color: #294230;
}

.dark-mode .modules-view-extension-list tr:not(.enabled) {
  background-color: #422929;
}

.dark-mode #prerender-view-history-table tr.used {
  background-color: #294230;
}

.dark-mode #prerender-view-history-table tr:not(.used) {
  background-color: #422929;
}
